---
---

@import "{{ site.theme }}";
p.menu
{
    margin: 0 0 10px;
};
.verticalnavbar
{
    position:static;
    width: 225px;
    margin: 0 0 20px;
    background-color: #727272;
}

ul.verticalnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.verticalnavbar li a {
    display: block;
    color: #222;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover*/
.verticalnavbar li a:hover {
    background-color: #555;
    color: white;
}
