---
---

@import "{{ site.theme }}";
.verticalnavbar
{
    float: left;
    position:fixed;
    top: 140px;
    width: 225px;
    margin: 0 0 20px;
   }

.verticalnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    /*background-color: #f4f4f4;*/
}

.verticalnavbar li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

/* Change the link color on hover*/
.verticalnavbar li a:hover {
    background-color: #727272;
    color: white;
}

@media print, screen and (max-width: 960px){ div.verticalnavbar {padding-right: 320px; float: none; position: static; width: auto;}
    ul.verticalnavbar {float: none; position: static; width: auto;}
    }

@media print, screen and (max-width: 7200px){ div.verticalnavbar {padding:0; }
    }

table { background-color: #f4f4f4; table-layout: fixed; }
th { background-color: #f4f4f4; }
tr:nth-child(odd) {
    background-color: #fff;
}

