---
---

@import "{{ site.theme }}";
.verticalnavbar
{
    float: left;
    position:fixed;
    top: 140px;
    width: 225px;
    margin: 0 0 20px;
    background-color: #f1f1f1;
}

.verticalnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.verticalnavbar li a {
    display: block;
    color: #222;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover*/
.verticalnavbar li a:hover {
    background-color: #555;
    color: white;
}
@media print, screen and (max-width: 960px){ div.verticalnavbar {padding-right: 320px; float: none; position: static; width: auto;}
    ul.verticalnavbar { float: none; position: static; width: auto;}
    }
/*@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header { padding-right: 320px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }*/
